<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maintenancesolution">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ems_app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ems.Views.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ems.Views.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ems.Views.ListActivity.ListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ems.Views.OrderDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ems.Views.CustomerRequestForm"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ems.Views.CustomerFeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ems.Views.UserSelectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ems.Views.ThankYouActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ems.Views.SelectImagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ems.Views.DashboardActivity"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ems.Views.ClockActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ems.Views.ScanInventoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ems.Views.CheckingInventoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ems.Views.MovingInventoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ems.Views.CountingInventoryActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>